*,html{
    margin: 0;
    padding: 0;
    text-decoration: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 11px; text-align: center;
    color: hsl(228, 44%, 22%);
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.background{
    background-color: white;
    border-radius: 20px;
    margin: 20% 5%;
    height: 100%;
    width: 90%;
}

.img-qrcode {
    border-radius: 10px;
    margin: 5%;
    width: 90%;
    max-width: 360px;
}

.titulo{
    font-weight:700 ;
    font-size: 22px;
    padding: 0 30px;
}

.texto {
    font-weight: 400;
    font-size: 17px;
    padding: 20px 35px;
    color: rgb(149, 152, 161);
}

@media (max-widdth: 1440px) {
    body {
        position: absolute;
      }    

    }
    .background{
        margin: auto;
        max-width: 360px;
        width: 100%;
        margin: 250px;

    }
    img{
        margin: auto;
        max-width: 360px;
        width: 100%;
        height: auto;
    }
